<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>



<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Twitter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mensajes directos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configuración</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="timeline">
          <li class="timeline-item">
            <div class="timeline-header">
              <h4 class="timeline-title">@usuario</h4>
              <small class="timeline-date">12 de marzo de 2023</small>
            </div>
            <div class="timeline-body">
              Este es un tweet.
            </div>
            <div class="timeline-footer">
              <a href="#">Retwittear</a>
              <a href="#">Me gusta</a>
              <a href="#">Comentar</a>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-header">
              <h4 class="timeline-title">@usuario</h4>
              <small class="timeline-date">11 de marzo de 2023</small>
            </div>
            <div class="timeline-body">
              Este es otro tweet.
            </div>
            <div class="timeline-footer">
              <a href="#">Retwittear</a>
              <a href="#">Me gusta</a>
              <a href="#">Comentar</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Copyright &copy; 2023 Twitter</span>
    </div>
  </footer>
</body>